In [1]:
# Import the libraries

import pandas as pd

In [2]:
df = pd.read_csv('Shark_Tank_India_uncleaned.csv')

In [3]:
# Show all columns
pd.set_option('display.max_columns', None)

In [4]:
df.shape

(478, 52)

In [5]:
df.head()

,Season_Number,Startup_Name,Episode_Number,Pitch_Number,Season_Start,Season_End,Original_Air_Date,Episode_Title,Anchor,Industry,Business_Description,Company_Website,Started_in,Number_of_Presenters,Male_Presenters,Female_Presenters,Transgender_Presenters,Couple_Presenters,Pitchers_Average_Age,Pitchers_City,Pitchers_State,Yearly_Revenue(in_lakhs),Monthly_Sales(in_lakhs),Gross_Margin,Net_Margin,EBITDA,Cash_Burn,SKUs,Has_Patents,Bootstrapped,Original_Ask_Amount,Original_Offered_Equity(in_%),Valuation_Requested(in_lakhs),Received_Offer,Accepted_Offer,Total_Deal_Amount(in_lakhs),Total_Deal_Equity(%),Number_of_Sharks_in_Deal,Namita_Investment_Amount(in lakhs),Vineeta_Investment_Amount(in_lakhs),Anupam_Investment_Amount(in_lakhs),Aman_Investment_Amount(in_lakhs),Peyush_Investment_Amount((in_lakhs),Amit_Investment_Amount(in_lakhs),Ashneer_Investment_Amount,Namita_Present,Vineeta_Present,Anupam_Present,Aman_Present,Peyush_Present,Amit_Present,Ashneer_Present
0,1,BluePineFoods,1,1,2021-12-20,2022-02-04,2021-12-20,Badlegi0Business0Ki0Tasveer,Rannvijay0Singh,Food,Frozen0Momos,https://bluepinefoods.com/,2016.0,3,2.0,1.0,NaN,0.0,Middle,Delhi,Delhi,95.0,8.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,50.0,5.0,1000.0,Yes,Yes,75.0,16.00,3.0,NaN,25.0,NaN,25.0,NaN,NaN,25.0,Yes,Yes,Yes,Yes,NaN,NaN,Yes
1,1,BoozScooters,1,2,2021-12-20,2022-02-04,2021-12-20,Badlegi0Business0Ki0Tasveer,Rannvijay0Singh,Vehicles/Electrical0Vehicles,Renting0e-bike0for0mobility0in0private0spaces,https://www.boozup.net/,2017.0,1,1.0,NaN,NaN,0.0,Young,Ahmedabad,Gujarat,4.0,0.4,NaN,NaN,NaN,NaN,NaN,NaN,NaN,40.0,15.0,267.0,Yes,Yes,40.0,50.00,2.0,NaN,20.0,NaN,NaN,NaN,NaN,20.0,Yes,Yes,Yes,Yes,NaN,NaN,Yes
2,1,HeartUpMySleeves,1,3,2021-12-20,2022-02-04,2021-12-20,Badlegi0Business0Ki0Tasveer,Rannvijay0Singh,Beauty/Fashion,Detachable0Sleeves,https://heartupmysleeves.com/,2021.0,1,NaN,1.0,NaN,0.0,Young,Delhi,Delhi,NaN,2.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,25.0,10.0,250.0,Yes,Yes,25.0,30.00,2.0,NaN,12.5,12.5,NaN,NaN,NaN,NaN,Yes,Yes,Yes,Yes,NaN,NaN,Yes
3,1,TagzFoods,2,4,2021-12-20,2022-02-04,2021-12-21,"Insaan,0Ideas0Aur0Sapne",Rannvijay0Singh,Food,Healthy0Potato0Chips0Snacks,https://tagzfoods.com/,2019.0,2,2.0,NaN,NaN,0.0,Middle,Bangalore,Karnataka,700.0,NaN,48.0,NaN,NaN,NaN,NaN,NaN,NaN,70.0,1.0,7000.0,Yes,Yes,70.0,2.75,1.0,NaN,NaN,NaN,NaN,NaN,NaN,70.0,Yes,Yes,Yes,Yes,NaN,NaN,Yes
4,1,HeadAndHeart,2,5,2021-12-20,2022-02-04,2021-12-21,"Insaan,0Ideas0Aur0Sapne",Rannvijay0Singh,Education,Brain0Development0Course,https://thehnh.in/,2015.0,4,1.0,3.0,NaN,1.0,Middle,Patiala,Punjab,30.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,50.0,5.0,1000.0,No,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Yes,Yes,Yes,Yes,NaN,NaN,Yes

In [6]:
# Dealing with the int missing values

df['Male_Presenters'].fillna(0, inplace=True)
df['Female_Presenters'].fillna(0, inplace=True)
df['Transgender_Presenters'].fillna(0, inplace=True)
df['Couple_Presenters'].fillna(0, inplace=True)
df['Number_of_Sharks_in_Deal'].fillna(0, inplace=True)

In [7]:
# Change Data Type

df['Season_Number'] = df['Season_Number'].astype('int8') # Optimized data types to reduce file size
df['Episode_Number'] = df['Episode_Number'].astype('int16')
df['Pitch_Number'] = df['Pitch_Number'].astype('int8')
df['Season_Start'] = df['Season_Start'].astype('datetime64')
df['Season_End'] = df['Season_End'].astype('datetime64')
df['Original_Air_Date'] = df['Original_Air_Date'].astype('datetime64')
df['Number_of_Presenters'] = df['Number_of_Presenters'].astype('int8')
df['Male_Presenters'] = df['Male_Presenters'].astype('int8')
df['Female_Presenters'] = df['Female_Presenters'].astype('int8')
df['Transgender_Presenters'] = df['Transgender_Presenters'].astype('int8')
df['Couple_Presenters'] = df['Couple_Presenters'].astype('int8')
df['Number_of_Sharks_in_Deal'] = df['Number_of_Sharks_in_Deal'].astype('int8')

In [8]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 478 entries, 0 to 477
Data columns (total 52 columns):
 #   Column                               Non-Null Count  Dtype
---  ------                               --------------  -----
 0   Season_Number                        478 non-null    int8
 1   Startup_Name                         478 non-null    object
 2   Episode_Number                       478 non-null    int16
 3   Pitch_Number                         478 non-null    int8
 4   Season_Start                         478 non-null    datetime64[ns]
 5   Season_End                           478 non-null    datetime64[ns]
 6   Original_Air_Date                    447 non-null    datetime64[ns]
 7   Episode_Title                        478 non-null    object
 8   Anchor                               478 non-null    object
 9   Industry                             478 non-null    object
 10  Business_Description                 478 non-null    object
 11  Company_Website                      466 non-null    object
 12  Started_in                           355 non-null    float64
 13  Number_of_Presenters                 478 non-null    int8
 14  Male_Presenters                      478 non-null    int8
 15  Female_Presenters                    478 non-null    int8
 16  Transgender_Presenters               478 non-null    int8
 17  Couple_Presenters                    478 non-null    int8
 18  Pitchers_Average_Age                 478 non-null    object
 19  Pitchers_City                        473 non-null    object
 20  Pitchers_State                       474 non-null    object
 21  Yearly_Revenue(in_lakhs)             241 non-null    float64
 22  Monthly_Sales(in_lakhs)              225 non-null    float64
 23  Gross_Margin                         129 non-null    float64
 24  Net_Margin                           73 non-null     float64
 25  EBITDA                               23 non-null     float64
 26  Cash_Burn                            64 non-null     object
 27  SKUs                                 28 non-null     float64
 28  Has_Patents                          43 non-null     object
 29  Bootstrapped                         48 non-null     object
 30  Original_Ask_Amount                  478 non-null    float64
 31  Original_Offered_Equity(in_%)        478 non-null    float64
 32  Valuation_Requested(in_lakhs)        478 non-null    float64
 33  Received_Offer                       478 non-null    object
 34  Accepted_Offer                       321 non-null    object
 35  Total_Deal_Amount(in_lakhs)          268 non-null    float64
 36  Total_Deal_Equity(%)                 268 non-null    float64
 37  Number_of_Sharks_in_Deal             478 non-null    int8
 38  Namita_Investment_Amount(in lakhs)   89 non-null     float64
 39  Vineeta_Investment_Amount(in_lakhs)  68 non-null     float64
 40  Anupam_Investment_Amount(in_lakhs)   75 non-null     float64
 41  Aman_Investment_Amount(in_lakhs)     109 non-null    float64
 42  Peyush_Investment_Amount((in_lakhs)  89 non-null     float64
 43  Amit_Investment_Amount(in_lakhs)     35 non-null     float64
 44  Ashneer_Investment_Amount            21 non-null     float64
 45  Namita_Present                       389 non-null    object
 46  Vineeta_Present                      318 non-null    object
 47  Anupam_Present                       424 non-null    object
 48  Aman_Present                         420 non-null    object
 49  Peyush_Present                       307 non-null    object
 50  Amit_Present                         137 non-null    object
 51  Ashneer_Present                      99 non-null     object
dtypes: datetime64[ns](3), float64(19), int16(1), int8(8), object(21)
memory usage: 165.4+ KB

In [9]:
# Check null values
df.isna().sum()

Season_Number                            0
Startup_Name                             0
Episode_Number                           0
Pitch_Number                             0
Season_Start                             0
Season_End                               0
Original_Air_Date                       31
Episode_Title                            0
Anchor                                   0
Industry                                 0
Business_Description                     0
Company_Website                         12
Started_in                             123
Number_of_Presenters                     0
Male_Presenters                          0
Female_Presenters                        0
Transgender_Presenters                   0
Couple_Presenters                        0
Pitchers_Average_Age                     0
Pitchers_City                            5
Pitchers_State                           4
Yearly_Revenue(in_lakhs)               237
Monthly_Sales(in_lakhs)                253
Gross_Margin                           349
Net_Margin                             405
EBITDA                                 455
Cash_Burn                              414
SKUs                                   450
Has_Patents                            435
Bootstrapped                           430
Original_Ask_Amount                      0
Original_Offered_Equity(in_%)            0
Valuation_Requested(in_lakhs)            0
Received_Offer                           0
Accepted_Offer                         157
Total_Deal_Amount(in_lakhs)            210
Total_Deal_Equity(%)                   210
Number_of_Sharks_in_Deal                 0
Namita_Investment_Amount(in lakhs)     389
Vineeta_Investment_Amount(in_lakhs)    410
Anupam_Investment_Amount(in_lakhs)     403
Aman_Investment_Amount(in_lakhs)       369
Peyush_Investment_Amount((in_lakhs)    389
Amit_Investment_Amount(in_lakhs)       443
Ashneer_Investment_Amount              457
Namita_Present                          89
Vineeta_Present                        160
Anupam_Present                          54
Aman_Present                            58
Peyush_Present                         171
Amit_Present                           341
Ashneer_Present                        379
dtype: int64

In [10]:
# Drop columns we don't need 
df.drop(columns=['Company_Website','Original_Air_Date','Episode_Title','Gross_Margin','Net_Margin','EBITDA','Cash_Burn','SKUs','Has_Patents','Bootstrapped'], inplace=True)

In [11]:
# Filling na values
df['Started_in'] = df['Started_in'].fillna("Not Mentioned")
df['Pitchers_City'] = df['Pitchers_City'].fillna('Not Mentioned')
df['Pitchers_State'] = df['Pitchers_State'].fillna('Not Mentioned')
df['Accepted_Offer'] = df['Accepted_Offer'].fillna("No Offer Received.")
df['Accepted_Offer'] = df['Accepted_Offer'].fillna("No Offer Received")
df['Total_Deal_Amount(in_lakhs)'] = df['Total_Deal_Amount(in_lakhs)'].fillna(0)
df['Total_Deal_Equity(%)'] = df['Total_Deal_Equity(%)'].fillna(0)
df['Number_of_Sharks_in_Deal'] = df['Number_of_Sharks_in_Deal'].fillna(0)
df['Namita_Investment_Amount(in lakhs)'] = df['Namita_Investment_Amount(in lakhs)'].fillna(0)
df['Vineeta_Investment_Amount(in_lakhs)'] = df['Vineeta_Investment_Amount(in_lakhs)'].fillna(0)
df['Anupam_Investment_Amount(in_lakhs)'] = df['Anupam_Investment_Amount(in_lakhs)'].fillna(0)
df['Aman_Investment_Amount(in_lakhs)'] = df['Aman_Investment_Amount(in_lakhs)'].fillna(0)
df['Peyush_Investment_Amount((in_lakhs)'] = df['Peyush_Investment_Amount((in_lakhs)'].fillna(0)
df['Amit_Investment_Amount(in_lakhs)'] = df['Amit_Investment_Amount(in_lakhs)'].fillna(0)
df['Ashneer_Investment_Amount'] = df['Ashneer_Investment_Amount'].fillna(0)
df['Namita_Present'] = df['Namita_Present'].fillna('No')
df['Vineeta_Present'] = df['Vineeta_Present'].fillna('No')
df['Anupam_Present'] = df['Anupam_Present'].fillna('No')
df['Aman_Present'] = df['Aman_Present'].fillna('No')
df['Peyush_Present'] = df['Peyush_Present'].fillna('No')
df['Amit_Present'] = df['Amit_Present'].fillna('No')
df['Ashneer_Present'] = df['Ashneer_Present'].fillna('No')

In [12]:
# Filling null values Yearly_Revenue(in_lakhs) and Monthly_Sales(in_lakhs)

df['Yearly_Revenue(in_lakhs)'] = df['Yearly_Revenue(in_lakhs)'].fillna(-1)
df['Monthly_Sales(in_lakhs)'] = df['Monthly_Sales(in_lakhs)'].fillna(-1)

In [13]:
# Cleaning anchor, industry business description

df['Anchor'] = df['Anchor'].str.replace('0',' ')
df['Industry'] = df['Industry'].str.replace('0',' ')
df['Business_Description'] = df['Business_Description'].str.replace('0',' ')

In [14]:
# Renaming columns with '()' as it can cause issue in SQL

# Get the names with brackets in them
col_brackets = []
col_no_brackets = []

for i in df.columns:
    if '(' in i:
        col_brackets.append(i)
    
        
for i in col_brackets:
    x = i.replace(')', '')
    col_no_brackets.append(x.replace('(', '_'))
    
for i in range(0, len(col_brackets)):
    df.rename(columns={col_brackets[i]:col_no_brackets[i]}, inplace=True)

In [15]:
# Check null values
df.isnull().sum()

Season_Number                          0
Startup_Name                           0
Episode_Number                         0
Pitch_Number                           0
Season_Start                           0
Season_End                             0
Anchor                                 0
Industry                               0
Business_Description                   0
Started_in                             0
Number_of_Presenters                   0
Male_Presenters                        0
Female_Presenters                      0
Transgender_Presenters                 0
Couple_Presenters                      0
Pitchers_Average_Age                   0
Pitchers_City                          0
Pitchers_State                         0
Yearly_Revenue(in_lakhs)               0
Monthly_Sales(in_lakhs)                0
Original_Ask_Amount                    0
Original_Offered_Equity(in_%)          0
Valuation_Requested(in_lakhs)          0
Received_Offer                         0
Accepted_Offer                         0
Total_Deal_Amount(in_lakhs)            0
Total_Deal_Equity(%)                   0
Number_of_Sharks_in_Deal               0
Namita_Investment_Amount(in lakhs)     0
Vineeta_Investment_Amount(in_lakhs)    0
Anupam_Investment_Amount(in_lakhs)     0
Aman_Investment_Amount(in_lakhs)       0
Peyush_Investment_Amount((in_lakhs)    0
Amit_Investment_Amount(in_lakhs)       0
Ashneer_Investment_Amount              0
Namita_Present                         0
Vineeta_Present                        0
Anupam_Present                         0
Aman_Present                           0
Peyush_Present                         0
Amit_Present                           0
Ashneer_Present                        0
dtype: int64

In [16]:
# Check final data types
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 478 entries, 0 to 477
Data columns (total 42 columns):
 #   Column                               Non-Null Count  Dtype
---  ------                               --------------  -----
 0   Season_Number                        478 non-null    int8
 1   Startup_Name                         478 non-null    object
 2   Episode_Number                       478 non-null    int16
 3   Pitch_Number                         478 non-null    int8
 4   Season_Start                         478 non-null    datetime64[ns]
 5   Season_End                           478 non-null    datetime64[ns]
 6   Anchor                               478 non-null    object
 7   Industry                             478 non-null    object
 8   Business_Description                 478 non-null    object
 9   Started_in                           478 non-null    object
 10  Number_of_Presenters                 478 non-null    int8
 11  Male_Presenters                      478 non-null    int8
 12  Female_Presenters                    478 non-null    int8
 13  Transgender_Presenters               478 non-null    int8
 14  Couple_Presenters                    478 non-null    int8
 15  Pitchers_Average_Age                 478 non-null    object
 16  Pitchers_City                        478 non-null    object
 17  Pitchers_State                       478 non-null    object
 18  Yearly_Revenue(in_lakhs)             478 non-null    float64
 19  Monthly_Sales(in_lakhs)              478 non-null    float64
 20  Original_Ask_Amount                  478 non-null    float64
 21  Original_Offered_Equity(in_%)        478 non-null    float64
 22  Valuation_Requested(in_lakhs)        478 non-null    float64
 23  Received_Offer                       478 non-null    object
 24  Accepted_Offer                       478 non-null    object
 25  Total_Deal_Amount(in_lakhs)          478 non-null    float64
 26  Total_Deal_Equity(%)                 478 non-null    float64
 27  Number_of_Sharks_in_Deal             478 non-null    int8
 28  Namita_Investment_Amount(in lakhs)   478 non-null    float64
 29  Vineeta_Investment_Amount(in_lakhs)  478 non-null    float64
 30  Anupam_Investment_Amount(in_lakhs)   478 non-null    float64
 31  Aman_Investment_Amount(in_lakhs)     478 non-null    float64
 32  Peyush_Investment_Amount((in_lakhs)  478 non-null    float64
 33  Amit_Investment_Amount(in_lakhs)     478 non-null    float64
 34  Ashneer_Investment_Amount            478 non-null    float64
 35  Namita_Present                       478 non-null    object
 36  Vineeta_Present                      478 non-null    object
 37  Anupam_Present                       478 non-null    object
 38  Aman_Present                         478 non-null    object
 39  Peyush_Present                       478 non-null    object
 40  Amit_Present                         478 non-null    object
 41  Ashneer_Present                      478 non-null    object
dtypes: datetime64[ns](2), float64(14), int16(1), int8(8), object(17)
memory usage: 128.0+ KB

In [ ]:
# Save the file for sql

# df.to_csv('sharktank.csv', index=False)